@font-face {
  font-family: Nunito;
  src: url(Nunito-Bold.ttf);
}
@font-face {
  font-family: MPLUS;
  src: url(MPLUSRounded1c-Regular.ttf);
}
@font-face {
  font-family: MPLUS-Bold;
  src: url(MPLUSRounded1c-Bold.ttf);
}
