p, h1, h2, h3, h4, h5, h6 {
  font-family: MPLUS;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  user-select: none;
}
div {
  font-family: MPLUS;
}
#saveButton {
  background-color: #2cb9f5;
  color: white;
  z-index: 2;
  position: fixed;
  right: 5px;
  top: 5px;
  padding: 10px;
  user-select: none;
}
